{% extends 'base.html' %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<h1>Welcome {{session.name}} </h1>
		</div>
		<div class="col-sm-2" style="margin-top: 2%">
			<a href="/upload" class="btn btn-success" role="button">Upload a song</a>
		</div>
	</div>
	<hr>
	{% if message == "upload" %}
	<div class="alert alert-success alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success!</strong> Song uploaded successfully.
	</div>
	{% elif message == "delete" %}
	<div class="alert alert-success">
		<strong>Success!</strong> Song deleted successfully.
	</div>
	{% endif %}

	<table class="table table-stripped table-hover">
		<thead>
			<tr>
				<th width="40%">Title</th>
				<th width="20%">Artist</th>
				<th width="20%">Album</th>
				<th width="10%"></th>
				<th width="10%"></th>
			</tr>
		</thead>
		<tbody>
			{% for song in songs %}
			<tr>
				<td width="40%"><a href="play/{{song.0}}">{{song.1}}</a></td>
				<td width="20%">{{song.2}}</td>
				<td width="20%">{{song.3}}</td>
				<td width="10%"><a href="play/{{song.0}}" class="btn btn-default pull-right">PLAY</a></td>
				<td width="10%"><a href="delete/{{song.0}}" class="btn btn-default pull-right">DELETE</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}